<a href="https://colab.research.google.com/github/elisagl/Curso_phyton/blob/main/Tarea_Clase_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tarea
* Anidar diccionarios (mínimo 2).
* Que el programa solicite que teclees el valor de las variables, (usar el método de _input()_)
* Si ingresas enteros o flotantes, que los convierta a su tipo correspondiente (usar entonces _int()_ o _float()_)
* Luego estas se agreguen al diccionario con el método _update()_

#Elisa Fernanda García

In [3]:

#Diccionario
Alumnos=[
    {
      'Nombre': 'Alan',
      'Edad': '20',
      'Licenciatura': 'QFB'
    },
    {
      'Nombre': 'Regina',
      'Edad': '21',
      'Licenciatura': 'IQ'
    },
    {
      'Nombre': 'Daniel',
      'Edad': '19',
      'Licenciatura': 'Biología'
    }
]

#Solicita valores
qfb=int(input('NUA estudiante 1: '))
iq=int(input('NUA estudiante 2: '))
bio=int(input('NUA estudiante 3: '))

#Agregar valores
Alumnos[0].update({'NUA':qfb})
Alumnos[1].update({'NUA':iq})
Alumnos[2].update({'NUA':bio})

Alumnos

NUA estudiante 1: 281687
NUA estudiante 2: 281179
NUA estudiante 3: 268951

[{'Edad': '20', 'Licenciatura': 'QFB', 'NUA': 281687, 'Nombre': 'Alan'},
 {'Edad': '21', 'Licenciatura': 'IQ', 'NUA': 281179, 'Nombre': 'Regina'},
 {'Edad': '19', 'Licenciatura': 'Biología', 'NUA': 268951, 'Nombre': 'Daniel'}]